<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body" style="width:100%;text-align:center;margin-top:20px;">
        <div class="row d-inline-block">
            <img src="./img/logo.png"
                 class="img-responsive"
                 style="max-height:300px;padding-bottom:50px" />
        </div>
        <div>
            <div class="text-center">Developed by:</div>
            <h3 class="text-center">Rajeswari Atchutuni</h3>

            <div class="text-center">@rajeswariatchutuni</div>
            <div class="text-center">
                <a href="http://www.bit.ly/DeborahKsBlog">www.bit.ly/DeborahKsBlog</a>
            </div>
        </div>
    </div>
</div>